$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 10px 0px;
}

header {
	position: fixed;
	display:block;
	height: 50px;
	background: #4da6ff;
	min-width: 100%;
	padding: 0px 10px;
	font-size: 2em;
}

.app-title {
	color: #fff;
}

.container-fluid {
	padding-top: 150px;
}

@media screen and (max-width: 450px) {
	.app-title {
		display: block;
		width: 230px;
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (min-width: 451px) {
	.app-title {
		display: inline;
	}
}

