<h3 ng-hide="isLoggedIn">Oops! You need to be logged in to see this page</h3>
<div ng-show="isLoggedIn">
	<h1>Let's create an event!</h1>
	<form name="eventForm">
		<div class="form-group required">
		 	<label for="title">What's the name of the event?</label>
		 	<input
		 		id="title"
		 		name="title"
		 		type="title"
		 		class="form-control"
		 		ng-model="title"
		 		placeholder="Enter the event's name"
				required
				autofocus
		 	>
	 	</div>
	 	<div class="form-group" ng-messages="eventForm.title.$error">
	    <div class="alert alert-danger" role="alert" ng-message="required">
	      Please enter the name of the event.
	    </div>
	  </div>
		<div class="form-group required">
		 	<label for="type">What kind of event is it?</label>
		 	<select
		 		name="type"
		 		id="type"
		 		class="form-control"
		 		ng-model="selectedType"
        ng-options="type as type.name for type in types"
        required>
        <option value="">-- please select type --</option>
		  </select>
	 	</div>
	 	<div class="form-group" ng-messages="eventForm.type.$error">
	    <div class="alert alert-danger" role="alert" ng-message="required">
	      Please enter the type of the event.
	    </div>
	  </div>
		<div class="form-group required">
		 	<label for="host">Whose hosting it?</label>
		 	<input
		 		id="host"
		 		name="host"
		 		type="host"
		 		class="form-control"
		 		ng-model="host"
		 		placeholder="Enter the host's name"
		 		required
		 		autocomplete="name"
		 	>
	 	</div>
	 	<div class="form-group" ng-messages="eventForm.host.$error">
	    <div class="alert alert-danger" role="alert" ng-message="required">
	      Please enter the host of the event.
	    </div>
	  </div>
	 	<div class="form-group">
	    <div ng-show="eventForm.starttime.$error">
	      <div class="alert alert-danger" role="alert" ng-show="eventForm.starttime.$error.datetimelocal">
	        Not a valid start date!
	      </div>
	      <div class="alert alert-danger" role="alert" ng-show="eventForm.starttime.$error.min">
	        Must be in the future!
	      </div>
	    </div>
	  </div>
		<div class="form-group required">
			<label for="start-date">What's the start date?</label>
			<input
				id="start-date"
				class="form-control"
				name="starttime"
				type="datetime-local"
				placeholder="yyyy-MM-ddTHH:mm:ss"
				min="{{currentDate | date:'yyyy-MM-ddTHH:mm:ss'}}"
				ng-model="startTime"
				required
			>
		</div>
	  <div class="form-group">
	    <div ng-show="eventForm.endtime.$error">
	      <div class="alert alert-danger" role="alert" ng-show="eventForm.endtime.$error.datetimelocal">
	        Not a valid end date!
	      </div>
	      <div class="alert alert-danger" role="alert" ng-show="eventForm.endtime.$error.min">
	        Must be in the future!
	      </div>
	    </div>
	  </div>
		<div class="form-group required">
			<label for="end-date">What's the end date?</label>
			<input
				id="end-date"
				class="form-control"
				name="endtime"
				type="datetime-local"
				placeholder="yyyy-MM-ddTHH:mm:ss"
				min="{{currentDate | date:'yyyy-MM-ddTHH:mm:ss'}}"
				ng-model="endTime"
				required
			>
		</div>
		<div class="form-group required">
			<label for="guest-list">Whose on your guest list?</label>
			<ul>
        <li ng-repeat="guest in guests">
          <span>{{guest}}</span>
        </li>
      </ul>
			<input
				id="guest-list"
				class="form-control"
				placeholder="Mr. Potato"
				type="text"
				ng-model="guest"
			>
		</div>
		<div class="form-group">
	    <div ng-show="noGuests">
	      <div class="alert alert-danger" role="alert">
	        Please add at least one guest!
	      </div>
	    </div>
	  </div>
		<div class="form-group">
			<a
				id="add-guests"
				name="add-guests"
				ng-click="addGuest()"
				class="btn btn-success"
				ng-disabled="!guest"
			>
				Add Guest
			</a>
		</div>
		<div class="form-group required">
			<label for="location">Where is it going to be?</label>
			<input id="location" name="location" class="form-control" ng-model="location" required>
		</div>
		<div class="form-group" ng-messages="eventForm.location.$error">
	    <div class="alert alert-danger" role="alert" ng-message="required">
	      Please enter the location.
	    </div>
	  </div>
		<div class="form-group">
			<label for="info">Any additional info or message to the guests?</label>
			<textarea id="info" class="form-control" ng-model="message"></textarea>
		</div>
		<div class="form-group">
		 	<button
		 		type="submit"
		 		class="btn btn-primary"
				ng-disabled="eventForm.$invalid || noGuests"
				ng-click ="submitEvent()"
		 	>
		 		Submit
		 	</button>
		</div>
	</form>
</div>

