<form name="loginForm">
	<div class="form-group">
    <div class="alert alert-danger" role="alert" ng-show="errorMessage" ng-bind-html="errorMessage"></span>
  </div>
	<div class="form-group required">
		<label>E-mail</label>
		<input
			class="form-control"
			type="email"
			ng-model="email"
			required
			autofocus
			autocomplete="email"
		/>
	</div>
	<div class="form-group required">
		<label>Password</label>
		<input
			class="form-control"
			type="password"
			ng-model="password"
			required
		/>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" ng-click="logIn()">
			Login
		</button>
		<button class="btn btn-success" ui-sref="register">
    	Signup
    </button>
	</div>
</form>