<form name="signupForm">
  <div class="form-group">
    <div class="alert alert-danger" role="alert" ng-show="errorMessage" ng-bind-html="errorMessage"></span>
  </div>
  <div class="form-group required">
    <label for="name">What's you name?</label>
    <input
      id="name"
      type="text"
      class="form-control"
      ng-model="name"
      required
      autofocus
      autocomplete="name"
    />
  </div>
  <div class="form-group required">
    <label for="email">What's your email address?</label>
    <input id="email" type="email" class="form-control" ng-model="email" required autocomplete="email"/>
  </div>
  <div class="form-group">
    <div class="alert alert-danger" role="alert" ng-show="signupForm.pass1.$error.pwinvalid">
      <ul>
        <li>Must be at least 8 characters long</li>
        <li>Must include at least one uppercase letter</li>
        <li>Must include at least one special letter</li>
        <li>Must include at least one number</li>
      </ul>
    </div>
  </div>
  <div class="form-group required">
    <label for="pass1">Let's create a password!</label>
    <input
      type="password"
      id="pass1"
      name="pass1"
      class="form-control"
      ng-model="pass1"
      ng-required=""
      pw-valid
    />
  </div>
  <div class="form-group">
    <div class="alert alert-danger" role="alert" ng-show="signupForm.pass2.$error.pwmatch">
      Passwords don't match.
    </div>
  </div>
  <div class="form-group required">
    <label for="pass2">Let's confirm your password</label>
    <input
      type="password"
      id="pass2"
      name="pass2"
      class="form-control"
      ng-model="pass2"
      ng-required=""
      pw-check="pass1"
    />
  </div>
  <div class="form-group">
    <label for="company">Who do you work for?</label>
    <input
      id="company"
      type="text"
      class="form-control"
      ng-model="employer"
      placeholder="Groupon"
    />
  </div>
  <div class="form-group">
    <label for="job">What do you do?</label>
    <input
      id="job"
      type="text"
      class="form-control"
      ng-model="jobTitle"
      placeholder="Software Developer"
    />
  </div>
  <div class="form-group">
    <label for="bday">Birthday</label>
    <input id="bday" type="date" class="form-control" ng-model="bday"/>
  </div>
  <div class="form-group">
    <button
      ng-click="register.signUp()"
      ng-disabled="signupForm.$pristine || signupForm.$invalid"
      type="submit"
      class="btn btn-primary"
    >Submit</button>
    <button ui-sref="login" class="btn btn-success">
      Login
    </button>
  </div>

</form>