<a ui-sref="home">Home</a>
<form>
	Name: <input type="text" ng-model="name" required/><br />
    E-mail: <input type="email" ng-model="email" required/><br />
    Password: <input type="text" ng-model="password" required/><br />
    Employer: <input type="text" ng-model="employer"><br />
    Job Title: <input type="text" ng-model="jobTitle"><br />
    Birthday: <input type="date" ng-model="bday" placeholder="yyyy-MM-dd"/>
    <button ng-click="register.signUp(name, email, password, employer, jobTitle, bday)">Submit</button>
	<a ui-sref="login">Login</a>
</form>